.slider-container {
    background: darkgray;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.slider-carousel {
    display: flex;
    width: 80%;
    height: 300px;
    overflow-x: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}

@media screen and (max-width: 1255px) {
    .slider-carousel{
        width: 720px;
    }
}

@media screen and (max-width: 770px) {
    .slider-carousel{
        width: 340px;
        min-width: 340px;
    }
}

.slide {
    background: aqua;
    display: flex;
    width: 340px;
    height: 100%;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    margin: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: black;
}

.btn {
    font-size: 20px;
    border: solid 1px gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
}
